---
layout: default
title: Labs
permalink: /labs/
---
<!-- blog -->
<div class="row">
    <section id="labs" class="section first grey col-xs-24">
        <div class="content-wrap">
            <h2 class="section-headline">Werkstätten im Netzwerk</h2>
            <p>Hier findest du alle Werkstätten, die Teil des Brandenburger Netzwerkes sind.</p>
        </div>
        <!-- lab teasers -->
        {% include partials/lab-teasers.liquid %}
    </section>
</div>
<!-- include mitmachen section -->
{% include partials/sections/apply.liquid %}