---
layout: default
title: "MoFab: regionale Entwicklung von unten"
permalink: projects/mofab/
info_text: |

---
<!-- über das projekt -->
<div class="row" xmlns="http://www.w3.org/1999/html">
    <section class="hero homemofab col-xs-24">
        <h1 class="section-headline sloganevent black">&nbsp;MoFab: reparieren, erhalten, erfinden&nbsp;</h1>
    </section>
    <section class="section first col-xs-24">
        <div class="content-wrap subpage">

            <h2 class="blue about-subline">In Offenen Werkstätten Open Hardware entwickeln</h2>
            <div class="subpage-content">
                {% include partials/content/content-float-image.liquid float="left"
                src="/assets/img/static/FABMOBIL3-1.jpg" caption="Bild: Jakub Purej" %}
                <p>Wie bekommen wir die wachsende Trockenheit in den Griff? Welche Lösungen gibt es für mehr Mobilität? Wie können wir alte Industriestätten wieder zu neuem Leben verhelfen? Und wie kann der Tourismus profitieren? Mit dem Verbundvorhaben <a href="https://digitale-reparaturfabrik.de/projekte/" target="_blank">„Mobilefablabs: WI+R Verbundswerkstatt Lausitz“</a> (MoFab) möchten wir mit Brandenburger Bürger:innen ganz konkrete technische Lösungen entwickeln, die unsere Region weiterbringen. Wir sind eine Region mit vielen handwerklichen Fähigkeiten, einer starken Reparaturkultur und guten Ideen. Zusammen verwirklichen wir sie.</p>
                {% include partials/content/content-infobox.liquid float="right" headline="Was sind offene Werkstätten?" copy="Offene Werkstätten sind Orte des Handwerks, der computergesteuerten Fertigungsverfahren und digitalen Technologien, die du mitgestalten und -nutzen kannst. Sie alle eint die Idee, Wissen, Werkzeuge und Maschinen, Technik und Materialien zu teilen.<br><center><a href='https://www.offene-werkstaetten.org/seite/offene-werkstaetten' target='_blank'>Mehr</a></center>" %}

                <p>Dafür stellen wir unsere <a href="https://www.offene-werkstaetten.org" target="_blank">Offenen Werkstätten</a> zur Verfügung. Ist mal keine Werkstatt in Reichweite, kommen wir mit unseren mobilen Werkstätten zu euch. Wir zeigen euch in Workshops, was die Werkstätten bieten und wie wir moderne Technologien einsetzen können, um selbst tätig zu werden. Außerdem fördern wir mit jeweils 9.500€ eure Ideen und helfen sechs Projektgruppen dabei, eine technische Lösung in die Tat umzusetzen.</p>
                <p>MoFab ist ein Projekt des Netzwerkes Offener Werkstätten Brandenburg und wird durch den Open Knowledge Foundation Deutschland e.V., den AWO Regionalverband Brandenburg Süd e.V., den Wissenschaftsladen Potsdam e.V. und die Universität Potsdam, mit dem Lehrstuhl für Wirtschaftsinformatik, insb. Prozesse und Systeme, forschend begleitet und umgesetzt.</p>
                <p>Wenn ihr Fragen habt oder auf dem Laufenden gehalten werden möchtet, dann meldet euch: <a href="mailto:mofab@digitale-reparaturfabrik.com">mofab@digitale-reparaturfabrik.com</a></p>

                <center><img style="width:40%;" src="/assets/img/static/bmbf.png"></center>
            </div>
            <h2 id="events" class="blue about-subline">Veranstaltungen</h2>
            <div style="text-aligne: center;">
                <div style="display: inline-block; text-align: left;">
                    {% include partials/events.liquid %}
                </div>
            </div>
            <h2 id="partner" class="blue about-subline">Projektpartner</h2>

        </div>
        <!-- lab teasers -->
        {% include partials/lab-teasers.liquid mofab='1' %}
    </section>
    <!-- team

    <div class="row">
        <section class="section grey-light col-xs-24">
            <div class="content-wrap subpage-content">
                <h2 id="team" tabindex="-1" class="section-headline">Vorstand</h2>
            </div>

            {% include partials/member-teasers.liquid %}
        </section>
    </div>
    -->
</div>
<!-- include mitmachen section -->
{% include partials/sections/apply.liquid %}
