---
layout: default
title: Projekte
permalink: /projects/
---
<!-- blog -->
<div class="row">
    <section class="section first grey col-xs-24">
        <div class="content-wrap">
            <h2 class="section-headline">Projekte des Netzwerkes</h2>
                <p>Hier findest du alle Gemeinschaftsprojekte des Netzwerks Offener Werkstätten Brandenburg</p>

        </div>
        {% include partials/project/project-isotope.liquid homepage=false %}
    </section>
<!-- include mitmachen section -->
{% include partials/sections/apply.liquid %}
</div>

