---
layout: default
permalink: /erfinden
---
<!-- Projekte und Initiativen -->
<div class="row ">
    <section class="hero homeevent col-xs-24">
        <h1 class="section-headline sloganevent black">&nbsp;Tag der Erfinder*innen&nbsp;</h1>
    </section>
    <section class="section grey col-xs-24">
        <div class="content-wrap">
            <h2 class="regular">Die Offenen Werkstätten in Brandenburg kennenlernen und an Workshops teilnehmen</h2>
            <p>Der 9. November ist nicht nur der Tag des Mauerfalls und Sinnbild für die Überwindung gedanklicher und physischer Grenzen. Er ist auch der Tag der Erfinder*innen, der Tag derjeniger, die ihre Fähigkeiten nutzen, um Grenzen einzureißen und Neues zu schaffen.
                Benannt nach der Erfinderin Hedy Lamarr, die die Ursprünge des heutigen Bluetooths entwickelte, ruft er jährlich dazu auf, mutig zu sein und eigene Ideen zu verwirklichen.
                Anlässlich dessen laden die Offenen Werkstätten in Brandenburg Jugendliche und junge Erwachsene ein, ihre Werkstätten kennenzulernen und erste Schritte bei der Überwindung eigener sowie gesellschaftlicher Grenzen zu tun und die Zukunft in die Hand zu nehmen.</p>
            <p style="font-size: 1.5rem; font-weight:bold;"><span style="font-size: 1.5rem; background-color: #eb68a2; color:#fff;"> Am 9. November 2019 - zwischen 11 Uhr und 18 Uhr</span> - findet ihr in den Werkstätten folgendes Programm:</p>
        </div>
        <!-- lab teasers -->
        {% include partials/lab-teasers.liquid event='1' %}
    </section>
</div>


<!-- include mitmachen section -->
{% include partials/sections/apply.liquid %}
