---
layout: default
permalink: /erfinden
---
<!-- Projekte und Initiativen -->
<div class="row ">
    <section class="section grey col-xs-24">
        <div class="content-wrap">
            <h2 class="section-headline">Die Werkstätten kennenlernen: am Tag der Erfinder*innen</h2>
            <p>Der 9. November ist nicht nur der Tag des Mauerfalls und Sinnbild für die Überwindung gedanklicher und physischer Grenzen. Er ist auch der Tag der Erfinder*innen, der Tag derjeniger, die ihre Fähigkeiten nutzen, um Grenzen einzureißen und Neues zu schaffen. Anlässlich dessen laden die Offenen Werkstätten in Brandenburg Jugendliche und junge Erwachsene ein, ihre Werkstätten kennenzulernen und erste Schritte bei der Überwindung eigener sowie gesellschaftlicher Grenzen zu tun.</p>
            <p style="font-weight:bold;">Am 9. November 2019 - zwischen 11 Uhr und 18 Uhr - findet ihr in den Werkstätten folgendes Programm:</p>
        </div>
        <!-- lab teasers -->
        {% include partials/lab-teasers.liquid event='1' %}
    </section>
</div>


<!-- include mitmachen section -->
{% include partials/sections/apply.liquid %}
