<!-- mitmachen -->
<div class="row">
    <section id="apply" class="section blue col-xs-24">
        <div class="content-wrap">
            <h2 class="section-headline">Mitmachen</h2>
            <p>Du möchtest auf dem Laufenden bleiben und wissen, wann wir Veranstaltungen organisieren?</p>
        </div>
        <div class="content-wrap btn-wrap">
            <a class="edu-btn white" href="https://55b3a465.sibforms.com/serve/MUIEAGNQKqIgNjV43RsxQ5AWEMlL1ALibDquhMaf-j-SmIp7Q1J1YqCHxmJ9oTPz_NW9uLTU-0TeGCwILwqN1yG3wO7Dmqiq-eqrFJQkifDS-bkzXUeSwVNfD6sgNPaBR7GdqtI9mcdev0Vv6cKbQnzxNJLkMPFWtfqJmYNUJvNjz-W9XuUKG9yD7-vl6M51yQRmId6H3hZVQssv" target="_blank">Zum Newsletter</a>
        </div>
    </section>
</div>
