<div class="teaser lab-teaser col-xs-24 col-md-8">
    <div class="teaser-inner">
        <div class="teaser-content lab-teaser-content">
            <h2 class="teaser-headline">#{{ include.name }}</h2>
            <p class="teaser-copy">{{ include.txt }}</p>
        </div>
        <div class="teaser-buttons-wrap">
            <a class="edu-btn black has-arrow" href="{{ include.url }}">zum Event</a>
        </div>

    </div>
</div>
